* {
  box-sizing: border-box;
}
html {
  font-family: 'Josefin Sans', sans-serif;
}
:root {
  --color-gray-50: rgb(243, 236, 230);
  --color-gray-100: rgb(207, 201, 195);
  --color-gray-300: rgb(99, 92, 86);
  --color-gray-400: rgb(70, 65, 60);
  --color-gray-500: rgb(37, 34, 31);
  --color-gray-600: rgb(32, 29, 26);
  --color-gray-700: rgb(31, 26, 22);

  --color-primary-50: rgb(253, 224, 200);
  --color-primary-100: rgb(253, 214, 183);
  --color-primary-200: rgb(250, 191, 143);
  --color-primary-400: rgb(223, 159, 41);
  --color-primary-500: rgb(212, 136, 14);
  --color-primary-700: rgb(212, 120, 14);
  --color-primary-200-contrast: rgb(100, 46, 2);
  --color-primary-500-contrast: white;
  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);
  --color-primary-500-bg: rgb(63, 60, 58);

  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --green-tint: rgba(100, 255, 218, 0.1);
  --pink: #f57dff;
  --blue: #57cbff;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}
body {
  background-color: var(--dark-navy);
  color: var(--white);
  margin: 0;
}
main {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--green);
}
.btn {
  cursor: pointer;
  font-family: inherit;
  padding: var(--space-2) var(--space-6);
  background-color: var(--green);
  color: var(--color-primary-500-contrast);
  border: 0;
  border-radius: var(--border-radius-small);
}
.btn:hover,
.btn:active {
  background-color: var(--color-primary-700);
}
.btn:active {
  transform: scale(0.88);
}
.btn:focus {
  outline: 0;
}
