<%- include ("../includes/head.ejs", {pageTitle: "Signup"}) %>
<link rel="stylesheet" href="/style/form.css">
<link rel="stylesheet" href="/style/auth.css">
</head>
<body>
 <%- include ("../includes/header.ejs") %>
 <main>
  <h1>Login</h1>
  <form action="/signup" method="post">
   <p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="enter your email" required>
   </p>
   <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="enter your password"  minlength="6" required>
   </p>
   <button class="btn">Login</button>
   <p id="switch-form"><a href="/signup">Create a new user</a></p>
  </form>
 </main>
  <%- include("../includes/footer") %>
