<%- include ("../includes/head.ejs", {pageTitle: "Signup"}) %>
<link rel="stylesheet" href="/style/form.css">
<link rel="stylesheet" href="/style/auth.css">
</head>
<body>
 <%- include ("../includes/header.ejs") %>
 <main>
  <h1>Create new account</h1>
  <form action="">
   <p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="enter your email" required>
   </p>
   <p>
    <label for="email">Confirm Email</label>
    <input type="email" id="confirm-email" name="confirm-email" placeholder="enter your email" required>
   </p>
   <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="enter your password"  minlength="6" required>
   </p>
   <hr>
   <p>
    <label for="fullname">Full name</label>
    <input type="text" id="fullname" name="fullname" placeholder="enter your fullname"   required>
   </p>
   <p>
    <label for="street">Street</label>
    <input type="text" id="street" name="street" placeholder="enter your street" required>
   </p>
   <p>
    <label for="postal">Postal code</label>
    <input type="text" id="postal" name="postal" placeholder="enter your postal code" required>
   </p>
   <p>
    <label for="city">City</label>
    <input type="text" id="city" name="city" placeholder="enter your city" required>
   </p>
   <button class="btn">Create account</button>
   <p id="switch-form"><a href="/login">Login </a></p>
  </form>
 </main>
  <%- include("../includes/footer") %>
