<%- includes("../includes/head", {pageTitle: "Signup"}) %>
</head>
<body>
 <%- includes("../includes/header") %>
 <main>
  <h1>Create new account</h1>
  <form action="">
   
  </form>
 </main>
  <%- includes("../includes/footer" %>
